		<div id="dashboard">
      <h3 class="Title Title--xs">Welcome to Madrid's Geoportal!</h3>
        <br>
          <button id="locate_me">Locate me!</button>
          <asside class="layers">
          
        <div class="dropdown">
          <button onclick="myFunction()" class="dropbtn">Dropdown</button>
            <div id="myDropdown" class="dropdown-content">
              <a href="#">Link 1</a>
              <a href="#">Link 2</a>
              <a href="#">Link 3</a>
        </div>

        <div class="radius" style="width: 500px;"> 
          <p>
            <label for="amount">Radio:</label>
            <input type="text" id="amount" readonly style="border:0; color:#f6931f; font-weight:bold;">
          Hello
          </p>
        <div id="header"></div>
        <div id="slider-range-min"></div>
        </div>
        </div>
        	<h2>Layers</h2>
            <ul>
            	<li class="layer">
            	  <input type="checkbox" id="vias_ciclistas" name="layer">
            	  <label for="vias_ciclistas">Vias Ciclistas</label>
            	</li>
            	<li class="layer">
            	  <input type="checkbox" id="carril_bus" name="layer">
            	  <label for="carril_bus">Carril Bus</label>
            	</li>
            	<li class="layer">
            	  <input type="checkbox" id="camaras" name="layer">
            	  <label for="camaras">Camaras de Trafico</label>
              </li>
    	        <li class="layer">
  	            <input type="checkbox" id="incidentes_trafico" name="layer">
            	  <label for="incidentes_trafico">Incidentes de Trafico</label>
            	</li>
              <li class="layer">
            	  <input type="checkbox" id="estaciones_tren" name="layer">
            	  <label for="estaciones_tren">Estaciones de tren</label>
     	        </li>
    	        <li class="layer">
            	  <input type="checkbox" id="autobuses_urbanos" name="layer">
            	  <label for="autobuses_urbanos">Autobuses urbanos</label>
    	        </li>
    	        <li class="layer">
            	  <input type="checkbox" id="autobuses_interurbanos" name="layer">
            	  <label for="autobuses_interurbanos">Autobuses interurbanos</label>
    	        </li>
    	        <li class="layer">
            	  <input type="checkbox" id="paradas_metro" name="layer">
            	  <label for="paradas_metro">Paradas Metro</label>
              </li>
              <li class="layer">
            	  <input type="checkbox" id="paradas_metro_ligero" name="layer">
            	  <label for="paradas_metro_ligero">Metro Ligero</label>
              </li>
    	        <li class="layer">
            	  <input type="checkbox" id="paradas_taxi" name="layer">
            	  <label for="paradas_taxi">Paradas Taxi</label>
            	</li>
            </ul>
         </asside>
   		</div>		
   		<div id="map"></div>
		<script src="http://libs.cartocdn.com/cartodb.js/v3/3.15/cartodb.js"></script>
    <script src="http://code.jquery.com/jquery-1.10.2.js"></script>
    <script src="http://code.jquery.com/ui/1.11.1/jquery-ui.js"></script>
   	<%= javascript_include_tag 'mapa' %>
