
    <div id="dashboard">
      <h3 class="Title Title--xs">Welcome to GeoMadrid!</h3>
        <br>
          <button id="locate_me">Locate me!</button>

          <div class="dropdown">


              <div id="myDropdown" class="dropdown-content">
                <a href="#">Movilidad</a>
                <br>
                <a href="#">Seguridad</a>
                <br>
                <a href="#">Cultura</a>
          </div>


          <asside class="layers">
          
        <div class="nav-wrapper">
            <ul id="nav"
                class="nav"
                data-slim-scroll
                data-collapse-nav
                data-highlight-active>
                <li class="nav-title">
                    <span data-translate="NAVIGATION"></span>
                </li>
                <li><a md-button aria-label="meanu" href="#/dashboard"> <i class="zmdi zmdi-home"></i><span data-translate="DASHBOARD"></span> </a></li>
                <li>
                    <a md-button aria-label="meanu" href="#/ui"><i class="zmdi zmdi-case"></i><span data-translate="UI_KIT"></span></a>
                    <ul>
                        <li><a md-button aria-label="meanu" href="#/ui/buttons"><i class="fa fa-angle-right"></i><span data-translate="BUTTONS"></span></a></li>
                        <li><a md-button aria-label="meanu" href="#/ui/icons"><i class="fa fa-angle-right"></i><span data-translate="ICONS"></span> <span class="badge badge-info">3</span></a></li>
                        <li><a md-button aria-label="meanu" href="#/ui/cards"><i class="fa fa-angle-right"></i><span data-translate="CARDS"></span></a></li>
                        <li><a md-button aria-label="meanu" href="#/ui/typography"><i class="fa fa-angle-right"></i><span data-translate="TYPOGRAPHY"></span></a></li>
                        <li><a md-button aria-label="meanu" href="#/ui/grids"><i class="fa fa-angle-right"></i><span data-translate="GRIDS"></span></a></li>
                        <li><a md-button aria-label="meanu" href="#/ui/lists"><i class="fa fa-angle-right"></i><span data-translate="LISTS"></span></a></li>
                        <li><a md-button aria-label="meanu" href="#/ui/components"><i class="fa fa-angle-right"></i><span data-translate="COMPONENTS"></span> <span class="badge badge-danger">20</span></a></li>
                        <li><a md-button aria-label="meanu" href="#/ui/pricing-tables"><i class="fa fa-angle-right"></i><span data-translate="PRICING_TABLES"></span></a></li>
                        <li><a md-button aria-label="meanu" href="#/ui/timeline"><i class="fa fa-angle-right"></i><span data-translate="TIMELINE"></span></a></li>
                        <li><a md-button aria-label="meanu" href="#/ui/maps"><i class="fa fa-angle-right"></i><span data-translate="MAPS"></span></a></li>
                    </ul>
                </li>
                <li>
                    <a md-button aria-label="meanu" href="#/pages"><i class="zmdi zmdi-pages"></i><span data-translate="PAGES"></span></a>
                    <ul>
                        <li><a md-button aria-label="meanu" href="#/pages/signin"><i class="fa fa-angle-right"></i><span data-translate="SIGN_IN"></span></a></li>
                        <li><a md-button aria-label="meanu" href="#/pages/signup"><i class="fa fa-angle-right"></i><span data-translate="SIGN_UP"></span></a></li>
                        <li><a md-button aria-label="meanu" href="#/pages/forgot-password"><i class="fa fa-angle-right"></i><span data-translate="FORGOT_PASSWORD"></span></a></li>
                        <li><a md-button aria-label="meanu" href="#/pages/profile"><i class="fa fa-angle-right"></i><span data-translate="USER_PROFILE"></span></a></li>
                        <li><a md-button aria-label="meanu" href="#/pages/invoice"><i class="fa fa-angle-right"></i><span data-translate="INVOICE"></span></a></li>
                        <li><a md-button aria-label="meanu" href="#/pages/404"><i class="fa fa-angle-right"></i>404 <span data-translate="ERROR"></span></a></li>
                        <li><a md-button aria-label="meanu" href="#/pages/500"><i class="fa fa-angle-right"></i>500 <span data-translate="ERROR"></span></a></li>
                        <li><a md-button aria-label="meanu" href="#/pages/blank"><i class="fa fa-angle-right"></i><span data-translate="BLANK_PAGE"></span></a></li>
                    </ul>
                </li>
                <li>
                    <a md-button aria-label="meanu" href="#/table"><i class="zmdi zmdi-view-list"></i><span data-translate="TABLES"></span></a>
                    <ul>
                        <li><a md-button aria-label="meanu" href="#/tables/static"><i class="fa fa-angle-right"></i><span data-translate="STATIC_TABLES"></span></a></li>
                        <li><a md-button aria-label="meanu" href="#/tables/responsive"><i class="fa fa-angle-right"></i><span data-translate="RESPONSIVE_TABLES"></span> <span class="badge badge-info">2</span></a></li>
                        <li><a md-button aria-label="meanu" href="#/tables/dynamic"><i class="fa fa-angle-right"></i><span data-translate="DYNAMIC_TABLES"></span></a></li>
                    </ul>
                </li>
                <li>
                    <a md-button aria-label="meanu" href="#/form"><i class="zmdi zmdi-edit"></i><span data-translate="FORMS"></span></a>
                    <ul>
                        <li><a md-button aria-label="meanu" href="#/forms/layouts"><i class="fa fa-angle-right"></i><span data-translate="FORM_LAYOUTS"></span></a></li>
                        <li><a md-button aria-label="meanu" href="#/forms/elements"><i class="fa fa-angle-right"></i><span data-translate="FORM_ELEMENTS"></span> <span class="badge badge-info">14</span></a></li>
                        <li><a md-button aria-label="meanu" href="#/forms/validation"><i class="fa fa-angle-right"></i><span data-translate="FORM_VALIDATION"></span></a></li>
                        <li><a md-button aria-label="meanu" href="#/forms/wizard"><i class="fa fa-angle-right"></i><span data-translate="FORM_WIZARD"></span></a></li>
                    </ul>
                </li>
               <li>
                    <a md-button aria-label="meanu" href="#/charts"><i class="zmdi zmdi-chart"></i><span data-translate="CHARTS"></span></a>
                    <ul>
                        <li><a md-button aria-label="meanu" href="#/charts/chartjs"><i class="fa fa-angle-right"></i>ChartJS <span data-translate="CHARTS"></span></a></li>
                        <li><a md-button aria-label="meanu" href="#/charts/flot"><i class="fa fa-angle-right"></i>Flot <span data-translate="CHARTS"></span></a></li>
                        <li><a md-button aria-label="meanu" href="#/charts/charts"><i class="fa fa-angle-right"></i>Other <span data-translate="CHARTS"></span></a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="radius" style="width: 500px;"> 
          <p>
          <br>
            <label for="amount">Radio:</label>
            <input type="text" id="amount" readonly style="border:0; color:#f6931f; font-weight:bold;">
          </p>
        <div id="header"></div>
        <div id="slider-range-min"></div>
        </div>
        </div>
          <h2>Movilidad</h2>
            <ul>
              <li class="layer">
                <input type="checkbox" id="cyclist_routes" name="layer">
                <label for="cyclist_routes">Vias Ciclistas</label>
              </li>
              <li class="layer">
                <input type="checkbox" id="bus_path" name="layer">
                <label for="bus_path">Carril Bus</label>
              </li>
              <li class="layer">
                <input type="checkbox" id="traffic_cameras" name="layer">
                <label for="traffic_cameras">Camaras de Trafico</label>
              </li>
              <li class="layer">
                <input type="checkbox" id="traffic_incidents" name="layer">
                <label for="traffic_incidents">Incidentes de Trafico</label>
              </li>
              <li class="layer">
                <input type="checkbox" id="train_stations" name="layer">
                <label for="train_stations">Estaciones de tren</label>
              </li>
              <li class="layer">
                <input type="checkbox" id="urban_buses" name="layer">
                <label for="urban_buses">Autobuses urbanos</label>
              </li>
              <li class="layer">
                <input type="checkbox" id="interurban_buses" name="layer">
                <label for="interurban_buses">Autobuses interurbanos</label>
              </li>
              <li class="layer">
                <input type="checkbox" id="metro_stops" name="layer">
                <label for="metro_stops">Paradas Metro</label>
              </li>
              <li class="layer">
                <input type="checkbox" id="light_metro_stops" name="layer">
                <label for="light_metro_stops">Metro Ligero</label>
              </li>
              <li class="layer">
                <input type="checkbox" id="taxi_stops" name="layer">
                <label for="taxi_stops">Paradas Taxi</label>
              </li>
              <li class="layer">
                <input type="checkbox" id="madrid_neighbours" name="layer">
                <label for="madrid_neighbours">Barrios</label>
              </li>
            </ul>
         </asside>
         <footer>
           <p>&copy; Jaime de Mora & Friends</p>
         </footer>
      </div>    
      <div id="map"></div>
    <script src="http://libs.cartocdn.com/cartodb.js/v3/3.15/cartodb.js"></script>
    <script src="http://code.jquery.com/jquery-1.10.2.js"></script>
    <script src="http://code.jquery.com/ui/1.11.1/jquery-ui.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
    <script src="http://leaflet.github.io/Leaflet.draw/leaflet.draw.js"></script>
    <%= javascript_include_tag 'mapa' %>