<!--     <div id="dashboard">
      <h3 class="Title Title--xs">Welcome to GeoMadrid!</h3>
        <br>

          <div class="dropdown">
              <div id="myDropdown" class="dropdown-content">
                <a href="#">Movilidad</a>
                <br>
                <a href="#">Seguridad</a>
                <br>
                <a href="#">Cultura</a>
          </div>


          <asside class="layers">
          

        <div class="radius" style="width: 500px;"> 
          <p>
          <br>
            <label for="amount">Radio:</label>
            <input type="text" id="amount" readonly style="border:0; color:#f6931f; font-weight:bold;">
          </p>
        <div id="header"></div>
        <div id="slider-range-min"></div>
        </div>
        </div>
          <h2>Movilidad</h2>
            <ul>
            <li class="layer">
              <input type="checkbox" id="madrid_neighbours_boundaries" name="layer">
              <label for="madrid_neighbours">Madrid por Barrios</label>
            </li>
            <li class="layer">
              <input type="checkbox" id="madrid_neighbours" name="layer">
              <label for="madrid_neighbours">Barrios por seguridad</label>
            </li>
              <li class="layer">
                <input type="checkbox" id="cyclist_routes" name="layer">
                <label for="cyclist_routes">Vias Ciclistas</label>
              </li>
              <li class="layer">
                <input type="checkbox" id="bus_path" name="layer">
                <label for="bus_path">Carril Bus</label>
              </li>
              <li class="layer">
                <input type="checkbox" id="traffic_cameras" name="layer">
                <label for="traffic_cameras">Camaras de Trafico</label>
              </li>
              <li class="layer">
                <input type="checkbox" id="traffic_incidents" name="layer">
                <label for="traffic_incidents">Incidentes de Trafico</label>
              </li>
              <li class="layer">
                <input type="checkbox" id="train_stations" name="layer">
                <label for="train_stations">Estaciones de tren</label>
              </li>
              <li class="layer">
                <input type="checkbox" id="urban_buses" name="layer">
                <label for="urban_buses">Autobuses urbanos</label>
              </li>
              <li class="layer">
                <input type="checkbox" id="interurban_buses" name="layer">
                <label for="interurban_buses">Autobuses interurbanos</label>
              </li>
              <li class="layer">
                <input type="checkbox" id="metro_stops" name="layer">
                <label for="metro_stops">Paradas Metro</label>
              </li>
              <li class="layer">
                <input type="checkbox" id="light_metro_stops" name="layer">
                <label for="light_metro_stops">Metro Ligero</label>
              </li>
              <li class="layer">
                <input type="checkbox" id="taxi_stops" name="layer">
                <label for="taxi_stops">Paradas Taxi</label>
              </li>
            </ul>
         </asside>
         <footer>
           <p>&copy; Jaime de Mora & Friends</p>
         </footer>
      </div>     -->
      <button id="locate_me">Locate me!</button>
      <div id="map"></div>
      <div id='selector_menu'>
      <select id='selector'>
        <option value='OSM'>OSM map</option>
        <option value='stamen'>Stamen map</option>
      </select>
    <script src="http://libs.cartocdn.com/cartodb.js/v3/3.15/cartodb.js"></script>
    <script src="http://code.jquery.com/jquery-1.10.2.js"></script>
    <script src="http://code.jquery.com/ui/1.11.1/jquery-ui.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
    <script src="http://leaflet.github.io/Leaflet.draw/leaflet.draw.js"></script>
    <%= javascript_include_tag 'mapa' %>