<!DOCTYPE html>
<html>
	<head>
	  <title>Madridgeo</title>
	  <meta charset="UTF-8">
	  <link rel="shortcut icon" href="http://cartodb.com/assets/favicon.ico" />
	  <link rel="stylesheet" href="http://libs.cartocdn.com/cartodb.js/v3/3.15/themes/css/cartodb.css" />
	  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	  <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7/leaflet.css"/>
	  <link rel="stylesheet" href="http://leaflet.github.io/Leaflet.draw/leaflet.draw.css"/>
	  <link rel="stylesheet" href="http://code.jquery.com/ui/1.11.1/themes/smoothness/jquery-ui.css">
	  <%= stylesheet_link_tag 'application', media: 'all' %>
	  <%= csrf_meta_tags %>

			<style>

				html, body{
					height: 100%;
					padding: 0%;
					margin: 0%;
				}
				#map {
					height: 100%;
					padding: 0%;
					margin-left: 320px;
				}
				#dashboard {
					height: 0%;
					padding: 0%;
					margin-right: 0%;
					border-right: 2px solid #333;
				}
				#download{
				    position: absolute;
				    bottom: 50px;
				    left: 330px;
				    z-index: 9000;
				  }
				#selector_menu{
				    position: absolute;
				    bottom: 20px;
				    right: 50px;
				    z-index: 9000;
				  }
				  #locate_me{
				  	position: absolute;
				  	bottom: 80px;
				  	left: 330px;
				  	z-index: 9000;
				    }
			</style>

<!-- in case we need it for the slider			<script src="http://code.jquery.com/jquery-1.10.2.js"></script>
			<script src="http://code.jquery.com/ui/1.11.1/jquery-ui.js"></script>
			<script type="text/javascript" src="http://fast.fonts.net/jsapi/b6470a43-5105-49d3-95ae-75217a436bf8.js"></script>
 -->
	</head>
	<body>

	 <div id="wrapper">
	        <div class="overlay"></div>
	    
	        <nav class="navbar navbar-inverse navbar-fixed-top" id="sidebar-wrapper" role="navigation">
	            <ul class="nav sidebar-nav">
	                <li class="sidebar-brand">
	                    <a href="#">
	                       Bienvenido a <br>
	                       GeoMadrid! 
	                    </a>
	                </li>
<!-- 	                <li>
	                    <a href="#">Home</a>
	                </li>
 -->	                <li>
	                    <a href="#">Demografía</a>
	                </li>
	                <li>
	                    <a href="#">Vivienda</a>
	                </li>
	                <li>
	                    <a href="#">Deporte</a>
	                </li>
	                <li class="dropdown">
	                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Categorías por barrios <span class="caret"></span></a>
	                  <ul class="dropdown-menu" role="menu">
	                    <li>
	                    <div id='test' style="position: absolute;left: 15px; color: #FFF; opacity: 0.7">
	                    <input class="layer" type="checkbox" id="madrid_neighbours_boundaries" name="layer">
	                    <label for="madrid_neighbours_boundaries">Madrid por Barrios</label></div><br><br/></li>
	                    <li>
	                    <div id='test' style="position: absolute;left: 15px; color: #FFF; opacity: 0.7">
	                    <input class="layer" type="checkbox" id="madrid_neighbours" name="layer">
	                    <label for="madrid_neighbours">Seguridad por Barrios</label></div><br><br/></li>
	                    <li>
	                    <div id='test' style="position: absolute;left: 15px; color: #FFF; opacity: 0.7">
	                    <input class="layer" type="checkbox" id="madrid_clean" name="layer">
	                    <label for="madrid_clean">Barrios por limpieza</label></div><br><br/></li>
	                    <li>
	                    <div id='test' style="position: absolute;left: 15px; color: #FFF; opacity: 0.7">
	                    <input class="layer" type="checkbox" id="madrid_leisure" name="layer">
	                    <label for="madrid_leisure">Barrios por ocio</label></div><br><br/></li>
	                  </ul>
	                </li>
	                <li class="dropdown">
	                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Movilidad <span class="caret"></span></a>
	                  <ul class="dropdown-menu" role="menu">
	                    <li>
	                    <div id='test' style="position: absolute;left: 15px; color: #FFF; opacity: 0.7">
	                    <input class="layer" type="checkbox" id="cyclist_routes" name="layer">
	                    <label for="cyclist_routes">Vías ciclistas</label></div><br><br/></li>
	                    <li>
	                    <div id='test' style="position: absolute;left: 15px; color: #FFF; opacity: 0.7">
	                    <input class="layer" type="checkbox" id="bus_path" name="layer">
	                    <label for="bus_path">Carril Taxi</label></div><br><br/></li>
	                    <li>
	                    <div id='test' style="position: absolute;left: 15px; color: #FFF; opacity: 0.7">
	                    <input class="layer" type="checkbox" id="traffic_cameras" name="layer">
	                    <label for="traffic_cameras">Cámaras de tráfico</label></div><br><br/></li>
	                    <li>
	                    <div id='test' style="position: absolute;left: 15px; color: #FFF; opacity: 0.7">
	                    <input class="layer" type="checkbox" id="traffic_incidents" name="layer">
	                    <label for="traffic_incidents">Accidentes de tráfico</label></div><br><br/></li>
	                    <li>
	                    <div id='test' style="position: absolute;left: 15px; color: #FFF; opacity: 0.7">
	                    <input class="layer" type="checkbox" id="train_stations" name="layer">
	                    <label for="train_stations">Estaciones de Tren</label></div><br><br/></li>
	                    <li>
	                    <div id='test' style="position: absolute;left: 15px; color: #FFF; opacity: 0.7">
	                    <input class="layer" type="checkbox" id="urban_buses" name="layer">
	                    <label for="urban_buses">Paradas de autobús urbano</label></div><br><br/></li>
	                    <li>
	                    <div id='test' style="position: absolute;left: 15px; color: #FFF; opacity: 0.7">
	                    <input class="layer" type="checkbox" id="interurban_buses" name="layer">
	                    <label for="interurban_buses">Autobús interurbano</label></div><br><br/></li>
	                    <li>
	                    <div id='test' style="position: absolute;left: 15px; color: #FFF; opacity: 0.7">
	                    <input class="layer" type="checkbox" id="metro_stops" name="layer">
	                    <label for="metro_stops">Paradas de metro</label></div><br><br/></li>
	                    <li>
	                    <div id='test' style="position: absolute;left: 15px; color: #FFF; opacity: 0.7">
	                    <input class="layer" type="checkbox" id="light_metro_stops" name="layer">
	                    <label for="light_metro_stops">Metro ligero</label></div><br><br/></li>
	                    <li>
	                    <div id='test' style="position: absolute;left: 15px; color: #FFF; opacity: 0.7">
	                    <input class="layer" type="checkbox" id="taxi_stops" name="layer">
	                    <label for="taxi_stops">Paradas de taxi</label></div><br><br/></li><br><br/>
	                  </ul>
	                </li>
	                <li>
	                    <a href="#">Seguridad</a>
	                </li>
	                <li>
	                    <a href="#">Contacto</a>
	                </li>
	                <li>
	                    <a href="https://twitter.com/jaimedemora">Contribuye!!</a>
	                </li>
<!-- 	             
 -->	            </ul>

	        </nav>


	       </div>
	       <button id="locate_me">Locate me!</button>
	       <button id="download">Descargar Dataset</button>
	       <div id="map"></div>
	       <div id='selector_menu'>
	       <select id='selector'>
	         <option value='OSM'>OSM map</option>
	         <option value='stamen'>Stamen map</option>
	       </select>


	        <%= yield %>


	    <script src="http://libs.cartocdn.com/cartodb.js/v3/3.15/cartodb.js"></script>
	    <script src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
	    <script src="http://leaflet.github.io/Leaflet.draw/leaflet.draw.js"></script>
	    <%= javascript_include_tag 'application' %>

	</body>
</html>