<!DOCTYPE html>
<html>
	<head>
	  <title>Madridgeo</title>
	  <meta charset="UTF-8">
	  <link rel="shortcut icon" href="http://cartodb.com/assets/favicon.ico" />
	  <link rel="stylesheet" href="http://libs.cartocdn.com/cartodb.js/v3/3.15/themes/css/cartodb.css" />
	  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	  <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7/leaflet.css"/>
	  <link rel="stylesheet" href="http://leaflet.github.io/Leaflet.draw/leaflet.draw.css"/>
	  <link rel="stylesheet" href="http://code.jquery.com/ui/1.11.1/themes/smoothness/jquery-ui.css">
	  <%= stylesheet_link_tag 'application', media: 'all' %>
	  <%= csrf_meta_tags %>

			<style>

				html, body{
					height: 100%;
					padding: 0%;
					margin: 0%;
				}
				#map {
					height: 100%;
					padding: 0%;
					margin-left: 30%;
				}
				#dashboard {
					height: 0%;
					padding: 0%;
					margin-right: 0%;
					border-right: 2px solid #333;
				}
				#locate_me{
				    position: absolute;
				    bottom: 50px;
				    left: 440px;
				    z-index: 9000;
				  }
				#selector_menu{
				    position: absolute;
				    bottom: 20px;
				    right: 50px;
				    z-index: 9000;
				  }
			</style>

<!-- in case we need it for the slider			<script src="http://code.jquery.com/jquery-1.10.2.js"></script>
			<script src="http://code.jquery.com/ui/1.11.1/jquery-ui.js"></script>
			<script type="text/javascript" src="http://fast.fonts.net/jsapi/b6470a43-5105-49d3-95ae-75217a436bf8.js"></script>
 -->
	</head>
	<body>

		<%= yield %>


	</body>
</html>